@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: Poppins;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.show {
    display: block;
}

body {
    background: white;
    margin: 0;
}
header {
    background: #303141;
    padding: 10px;
}

.heading1 {
    height: 55px;
    font-size: 35px;
    color: white;
}

.heading2{
    position: absolute;
    top: 125px;
    font-size: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.subject_bar a {
    text-decoration: none;
    color: black;

}

.images img {
    width: 358px;
    height: 198px;

}

.sddimg {
    position: absolute;

}

.hstimg {
    position: absolute;
    left: 600px;

}

.sddlk {
    padding: 15px;
    font-size: 22px;
    position: absolute;
    top: 288px;
    left: 7px;
    background: white;
    width: 360px;
    border: 3px solid #007bff;
    border-radius: 3px;
    transition: 0.5s;
}
.sddlk:hover,
.hstlk:hover{
    color: white;
    background: #007bff;
}

.hstlk {
    width: 360px;
    padding: 15px;
    font-size: 22px;
    background: white;
    border: 3px solid #007bff;
    transition: 0.5s;
    position: absolute;
    top: 288px;
    left: 600px;

}
.geolk {
    position: absolute;
    top: 600px;
    right: 55px;
}

.rules_box {
    display:none;
    color: white;
    width: 540px;
    background: #007bff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.rules_box .rules_title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}
.rules_box .rules{
    padding: 15px 35px;

}
.rules_box .rules .info {
    margin: 5px 0;
    font-size: 17px;

}
.rules_box .rules .info span {
    font-weight: 600;

}
.rules_box .rules_buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;

}
.rules_box .rules_buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid white;
    background: white;
    color: #007bff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;

}

